[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
django-crispy-forms = "==1.8.0"
django-allauth = "*"
django-extensions = "*"
pyparsing = "*"
pydot = "*"
pillow = "==9.3.0"
matplotlib = "*"
pandas = "*"
astropy = "*"
geopy = "*"
scipy = "*"
pyyaml = "*"
sqlalchemy = "*"
django-leaflet = "*"
redis = "==3.5.3"
celery = "==4.4.2"
kombu = "==4.6.8"
zernike = "*"
notebook = "*"
lmfit = "*"
emcee = "*"
tqdm = "==4.48.2"
django-queryset-csv = "==1.1.0"
gunicorn = "==20.0.4"

[requires]
python_version = "3.7"
